.slide {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: slide;
  animation-duration: 1.5s;
}

@-webkit-keyframes slide {
    from { transform: translateX(-100%); }
    to {transform: translateX((0%))}
}

@keyframes slide {
    from { transform: translateX(-100%); }
    to {transform: translateX((0%))}
}

/* .slideRight {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: slideRight;
  animation-duration: 1.5s;
}

@-webkit-keyframes slideRight {
    from { transform: translateX(100%); }
    to {transform: translateX((0%))}
}

@keyframes slideRight {
    from { transform: translateX(100%); }
    to {transform: translateX((0%))}
} */
