.productGrid {
  display: grid;
  width: 85%;
  align-self: center;
  margin: auto;
  grid-template-columns: 30px 60px 2fr 0.15fr 60px;
  @apply border-b border-r border-t border-gray-400;

  & div {
    @apply border-l border-gray-400;
  }

  & div:nth-child(10n + 6),
  & div:nth-child(10n + 7),
  & div:nth-child(10n + 8),
  & div:nth-child(10n + 9),
  & div:nth-child(10n + 10) {
    background: var(--accents-0);
  }
}

.header {
  @apply h-12 bg-primary text-secondary flex justify-center items-center;
}

.items {
  @apply h-14 pt-2 pl-2 pr-2;
}
