:root {
  --primary: #2870b8;
  --primary-bright: #064e96;
  --secondary: #ffffff;
  --accents-0: #dee2e6;
  --accents-1: #e9ecef;
  --accents-2: #60636a;
  --call-to-action: #3ea6ff;
  --background: #f2f2f2;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
